@charset "UTF-8";

html {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --icon-size: 30px;
}



html,
body,
nav,
header,
main,
aside,
footer,
article,
section,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7b15ce;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-template-columns: auto 50px 600px minmax(auto, 350px) 50px 50px 50px auto;
    grid-template-rows: 100px min-content min-content max-content auto min-content;
    grid-template-areas:
        ". header header header header header header ."
        ". . nav nav nav nav . ."
        ". . inhl1 inhl1 inhl1 inhl1 . ."
        ". . inhl2 inhl2 inhl2 inhl2 . ."
        ". . inhl3 inhl3 inhl3 inhl3 . ."
        "footer footer footer footer footer footer footer footer";
    display: grid;
}

header {
    grid-area: header;
    border-image: url(/bld/transparantrep.png);
    border-image-slice: 20%;
    border-radius: 15px 15px 15px 15px;
    border-image-width: 30px;
    border-image-repeat: round;
    text-align: center;
}


nav {
    grid-area: nav;
}

.listclass {
    display: flex;
}

div .navknapp {
    flex-basis: 50px;
    flex-grow: 1;
    flex-shrink: 0;
    padding-left: 25px;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.inhl1 {
    border: black solid 2px;
}

.navknapp {
    border: #000000 solid 2px;
    font-size: 1.2rem;
    transition: all 0.5s;
    cursor: pointer;
}

.navknapp span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    padding-right: 25px;
    justify-content: end;
}

.navknapp span:after {
    content: url(/bld/ankarefarg.png);
    position: relative;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    font-size: 25px;
}

.navknapp:hover span {
    padding-right: 25px;
}

.navknapp:hover span:after {
    opacity: 1;
    right: 0;
}

#navlank1 {
    order: 1;
    background-color: #1da70b;
}

#navlank2 {
    order: 2;
    background-color: #7b15ce;
}

#navlank3 {
    background-color: #5b66c5;
    order: 3;
}

#navlank3 span,
#navlank2 span,
#navlank1 span {
    color: #000000;
}

.inhl1 {
    grid-area: inhl1;
    background-color: #edc3a0;
    display: flex;
    padding: 0px 30px 30px 30px;
}

.plswork2 {
    display: grid;
    grid-template-columns: 125px repeat(1, 750px);
    justify-content: stretch;
    grid-auto-rows: 175px;
}

.plswork2 div {
    border: #000000 solid 0px;
}

#text1 {
    display: flex;
}

div #text1 {
    flex-basis: 5cm;
    flex-grow: 2;
    flex-shrink: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-right: 50px;
    padding-left: 50px;
}

.gridtext1 {
    order: 1;
}

.gridtext2 {
    order: 4;
}

.gridtext3 {
    order: 6;
}

.gridtext4 {
    order: 8;
}

#gridbild1 {
    order: 0;
}

#gridbild2 {
    order: 3;
}

#gridbild3 {
    order: 5;
}

#gridbild4 {
    order: 7;
}

#kravbild {
    order: 7;
}

.hiddenbild {
    display: none;
}

.visabildknapp {
    cursor: pointer;
}

#gridbild1 button,
#gridbild2 button,
#gridbild3 button,
#gridbild4 button,
#kravbild button {
    position: absolute;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 15px 15px;
    background-color: #1da70b;
}

.visabildknapp:active~#gridbild4 button,
.visabildknapp:active~#gridbild3 button,
.visabildknapp:active~#gridbild2 button .visabildknapp:active~#kravbild {
    opacity: 0;
    transition: ease-in-out 1s;
}

.visabildknapp button {
    opacity: 1;
    transition: ease-in-out 1s;
}

.visabildknapp img {
    display: none;
}

.visabildknapp:active img {
    display: flex;
    position: sticky;
    padding-right: 25px;

}

.visabildknapp:hover button {
    /*transition timer funkar inte till detta? ingen ändring från inte visa till visa?*/
    position: sticky;
    padding-left: 11px;
    transition: ease-in-out 0.1s;
}

.navex {
    float: right;
}

#navid3 {
    opacity: 0;
}

.inhbld1 {
    display: none;
    grid-area: inhbld1;
    background-position: left center;
}

#pilregn {
    display: none;
}

.inhl2 {
    grid-area: inhl2;
    background-color: #79bcd2;
    display: flex;
    padding: 0px 30px 30px 30px;
}

#inhbld2 {
    grid-area: inhbld2;
    background-color: #39f300;
    display: none;
}

.inhl3 {
    grid-area: inhl3;
    background-color: #5b66c5;
    display: flex;
    padding: 30px;
}

#inhbld3 {
    background-color: #89eb9a;
    display: none;
}

.inhl1 div,
.inhl2 div,
.inhl3 div {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    justify-content: right;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plswork {
    display: flex;
}

div .plswork {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 5;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

footer {
    grid-area: footer;
    margin: 0px 0px 0px;
    padding: 5px 0px 1px;
    border-style: solid;
    border-top: 1px;
    color: rgb(0, 0, 0);
    background-color: #d5e221;
    text-align: center;

}

@media screen and (max-width: 1250px) {
    body {
        grid-template-columns: auto 300px 10px 25px;
        grid-template-rows: 100px min-content min-content min-content min-content 50px;
        grid-template-areas:
            "header header header header"
            "nav nav nav nav"
            "inhl1 inhl1 inhl1 inhbld1"
            "inhl2 inhl2 inhl2 inhl2"
            "inhl3 inhl3 inhl3 inhl3"
            "footer footer footer footer";
    }

    .inhbld1 {
        /*test för bild som kommer in, behöver bättre lösning för att bli snyggare*/
        grid-area: inhbld1;
        background-position: left center;
        display: flex;
        background-position: left center;
        border: #000000 solid 2px;
        background-color: #1da70b
    }

    div .inhlbld1 {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-items: center;
    }

    #pilregn {
        display: inline;
        align-self: center;
    }

    .inhbld1 {
        cursor: pointer;
        transition: transform 3s;
        transition-timing-function: ease-in-out;
    }

    .inhbld1:hover {
        transform: translate(-880px, 0px);
        transition: transform 3s;
        transition-timing-function: ease-in-out;
    }
}

@media screen and (max-width: 900px) {
    body {
        grid-template-columns: 100px auto 25px;
        grid-template-rows: 100px min-content min-content auto min-content min-content;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "inhl1 inhl1 inhbld1"
            "inhl2 inhl2 inhl2"
            "inhl3 inhl3 inhl3"
            "footer footer footer";
    }

    .inhbld1 {
        display: flex;
        background-position: left center;

    }

    div .inhlbld {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 50px;
        align-items: center;
    }

    #pilregn {
        display: inline;
        align-self: center;
    }

    .inhbld1 {
        cursor: pointer;
        transition: transform 3s;
        transition-timing-function: ease-in-out;
    }

    .inhbld1:hover {
        transform: translate(-880px, 0px);
        transition: transform 3s;
        transition-timing-function: ease-in-out;
    }

    .plswork2 {
        display: grid;
        grid-template-columns: 125px repeat(1, 400px);
        justify-content: stretch;
        grid-auto-rows: 200px;
    }

}

@media screen and (max-width: 600px) {
    body {
        grid-template-columns: auto;
        grid-template-rows: min-content min-content min-content min-content min-content 50px;
        grid-template-areas:
            "header"
            "nav"
            "inhl1"
            "inhl2"
            "inhl3"
            "footer";
    }

    .inhbld1 {
        display: none;
    }

    .plswork4 {
        cursor: pointer;
        transition: transform 3s;
        transition-timing-function: ease-in-out;

    }

    .plswork4:hover {
        transform: scaleY(1.5);
        transition: transform 3s;
        transition-timing-function: ease-in-out;
        background-color: white;
    }

    #gridbild1 button,
    #gridbild2 button,
    #gridbild3 button,
    #gridbild4 button,
    #kravbild button {
        position: absolute;
        cursor: pointer;
        font-size: 0.8rem;
        border-radius: 15px 15px;
        background-color: rgb(25, 221, 90);
    }
}