@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --icon-size: 30px;
}



html,
body,
nav,
header,
main,
aside,
footer,
article,
section,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7b15ce;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-template-columns: auto auto minmax(auto, 350px) minmax(auto, 350px) minmax(auto, 350px) 50px;
    grid-template-rows: 100px 100px max-content max-content max-content minmax(50px, auto);
    grid-template-areas:
        "header header header header header header header header"
        ". . nav nav nav nav . ."
        ". . inhl1 inhl1 inhl1 inhl1 . ."
        ". . inhl2 inhl2 inhl2 inhl2 . ."
        ". . inhl3 inhl3 inhl3 inhl3 . ."
        "footer footer footer footer footer footer footer footer";

    display: grid;

}

header {
    grid-area: header;
    border-image: url(/bld/transparantrep.png);
    border-image-slice: 20%;
    border-radius: 15px 15px 15px 15px;
    border-image-width: 30px;
    border-image-repeat: round;
    text-align: center;
}

/*
nav .knapp{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}*/
/*
.knapp span{
    cursor:pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}*/
/*
.knapp span::after{
    height: var(--icon-size);
    width: var(--icon-size);
    background: url(/bld/compass2.png);
    background-size: var(--icon-size) var(--icon-size);
    background-repeat: no-repeat;
    content:"";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s; 
}*/
nav {
    grid-area: nav;
}

nav .navboxar {
    grid-area: nav;
    background-color: rgb(0, 255, 136);
    border: none;
}

.navboxar {
    display: flex;
    flex-shrink: 4;
    flex-grow: 2;
    flex-basis: 55px;
    flex-direction: row;
}

.listclass {
    display: flex;
    flex-grow: 1;
    flex-shrink: 4;
    flex-basis: 55px;
    flex-direction: row;
    align-items: stretch;
}

.listclass div {
    flex-grow: 1;
    flex-shrink: 5;
    flex-basis: 1px;
    align-items: center;
    padding-left: 25px;
}

.navknapp {
    display: inherit;
    border: none;
    font-size: 28px;
    transition: all 0.5s;
    cursor: pointer;
}

.navknapp span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    padding-right: 25px;
    justify-content: end;
}

.navknapp span:after {
    content: url(/bld/ankarefarg.png);
    position: relative;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    font-size: 25px;
}

.navknapp:hover span {
    padding-right: 25px;
}

.navknapp:hover span:after {
    opacity: 1;
    right: 0;
}

#navlank1 {
    order: 1;
    background-color: #1da70b;
}

#navlank2 {
    order: 2;
    background-color: #7b15ce;
}

#navlank3 {
    background-color: #5b66c5;
    order: 3;
}

#navlank3 span,
#navlank2 span,
#navlank1 span {
    color: #000000;
}

.inhl1 {
    grid-area: inhl1;
    background-color: #edc3a0;
    display: flex;
    padding: 0px 30px 30px 30px;
}

.plswork2 {
    display: grid;
    grid-template-columns: 125px repeat(1, 750px);
    justify-content: stretch;
    grid-auto-rows: 175px;
}

.plswork2 div {
    border: #000000 solid 5px;
}

.gridtext1 {
    order: 1;
    align-self: stretch;
}

.gridtext2 {
    order: 4;
}

.gridtext3 {
    order: 6;
}

.gridtext4 {
    order: 8;
}

.gridbild1 {
    order: 0;
}

.gridbild2 {
    order: 3;
}

.gridbild3 {
    order: 5;
}

.gridbild4 {
    order: 7;
}

.hiddenbild {
    display: none;
    transition: 0.5s;
}

.visabild {
    transition: 0.5s;
    transition: ease-in-out;
    transition: transform 3s;
}

.visabild:active~.hiddenbild {
    /*sjukt svårt att hitta den här funktionen*/
    display: inline-block;
    transition: ease-in-out;
    transition: 0.5s;
    transform-box: initial;
    position: absolute;
    justify-content: left;
}

.navex {
    float: right;
}

.navex2,
.navex3 {
    cursor: pointer;
    transition: 0.5s;
    transition: ease-in-out;
}

#navid3 {
    opacity: 0;
}
.bildlank{
    float: right;
}
.navex3 img:active {
    transform: scale(0)
}

.navex2:hover {
    transform: scale(1.5);
}

.inhbld1 {
    display: none;
    grid-area: inhbld1;
    background-position: left center;
}

#pilregn {
    display: none;
}

.inhl2 {
    grid-area: inhl2;
    background-color: #79bcd2;
    display: flex;
    padding: 0px 30px 30px 30px;
}

#inhbld2 {
    grid-area: inhbld2;
    background-color: #39f300;
    display: none;
}

.inhl3 {
    grid-area: inhl3;
    background-color: #5b66c5;
    display: flex;
    padding: 30px;
}

#inhbld3 {
    background-color: #89eb9a;
    display: none;
}

.inhl1 div,
.inhl2 div,
.inhl3 div {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    justify-content: right;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plswork {
    display: flex;
}

div .plswork {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 5;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    border: #000000 solid 5px;

}


footer {
    grid-area: footer;
    margin: 0px 0px 0px;
    padding: 5px 0px 1px;
    border-style: solid;
    border-top: 1px;
    color: rgb(0, 0, 0);
    background-color: #d5e221;
    text-align: center;

}

@media screen and (max-width: 1250px) {
    body {
        grid-template-columns: auto 300px 10px;
        grid-template-rows: 100px 100px auto auto auto 25px;
        grid-template-areas:
            "header header header ."
            "nav nav nav ."
            "inhl1 inhl1 inhl1 inhbld1"
            "inhl2 inhl2 inhl2 inhbld1"
            "inhl3 inhl3 inhl3 inhbld1"
            "footer footer footer .";
    }

    .inhbld1 {
        grid-area: inhbld1;
        background-position: left center;

    }

    div .inhlbld {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-items: center;
    }

    #pilregn {
        display: inline;
        align-self: center;
    }

    .inhbld1 {
        cursor: pointer;
        transition: transform 3s;
        transition-timing-function: ease-in-out;
    }

    .inhbld1:hover {
        transform: translate(-880px, 0px);
        transition: transform 3s;
        transition-timing-function: ease-in-out;
    }

    .navex4 {
        scale: 0.5;
        transition: 0.5s;
        transform: rotate(90deg);
    }

    .navex2 {
        transform: scale(0.2);
        transition: 0.5s;
    }

    .navex2:hover {
        transform: scale(1.5);
    }

    .navex3 {
        display: none;
    }

}

@media screen and (max-width: 900px) {
    body {
        grid-template-columns: 100px auto 25px;
        grid-template-rows: 100px 100px auto auto auto 25px;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "inhl1 inhl1 inhbld1"
            "inhl2 inhl2 inhbld1"
            "inhl3 inhl3 inhbld1"
            "footer footer footer";
    }

    .inhbld1 {
        display: flex;
        background-position: left center;

    }

    div .inhlbld {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 50px;
        align-items: center;
    }

    #pilregn {
        display: inline;
        align-self: center;
    }

    .inhbld1 {
        cursor: pointer;
        transition: transform 3s;
        transition-timing-function: ease-in-out;
    }

    .inhbld1:hover {
        transform: translate(-880px, 0px);
        transition: transform 3s;
        transition-timing-function: ease-in-out;
    }

    .navex2 {
        display: none;
    }

    .plswork2 {
        display: grid;
        grid-template-columns: 125px repeat(1, 400px);
        justify-content: stretch;
        grid-auto-rows: 400px;
    }

}

@media screen and (max-width: 600px) {
    body {
        grid-template-columns: auto;
        grid-template-rows: min-content min-content min-content min-content min-content 50px;
        grid-template-areas:
            "header"
            "nav"
            "inhl1"
            "inhl2"
            "inhl3"
            "footer";
    }

    .inhbld1 {
        display: none;
    }
    .plswork4{
            cursor: pointer;
            transition: transform 3s;
            transition-timing-function: ease-in-out;
            
    }
    .plswork4:hover {
        transform:scaleY(1.5);
        transition: transform 3s;
        transition-timing-function: ease-in-out;
        background-color: white;
    }
}

/*
nav a:visited{
#compass {
    background-image: url(/bld/compass2.png);
    width: 500px;
    height: 500px;
    display: inline-block;
    cursor: pointer;
    flex-wrap: inherit;
}
#compass ~ ul {
    display: none;
}
#compass:checked ~ ul {
    display: flex;
}}
but